:root {
    --primario: #041e3a;
    --secundario: #4b5e96; 
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

a {
    text-decoration: none;
    font-size: 3rem;
    font-family: var(--fuentePrincipal);
}

img {
    width: auto;
}

.contenedor-central {
    max-width: 120rem;
    margin: 0 auto;
    height: auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.4rem;
}

.publicidad {
    width: 100%;
    max-height: 50px;
    background-color: var(--primario); /* Color de fondo */
    text-align: center;
    overflow: hidden;
  }
  .carousel-item img {
    max-height: 200px; /* Ajusta esta altura según sea necesario */
    object-fit: cover;
}

  .color-options {
    display: flex;
    gap: 10px;
}

.color-option {
    display: inline-block;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
}

.color-option input[type="radio"]:checked + .color-circle {
    border: 2px solid green;
}
